
:root{
    --header-color:#1f314e;
    --brown-color:#c25941;

}
*{
    font-family: 'Roboto', sans-serif;
}



header{
    background-color: var(--header-color);
    color: var(--header-color);
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}
.header-content{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1%;
    border: 2px solid var(--brown-color);
    
}
.header-line1{
    padding: 0.5rem 1rem 0rem 1.5rem;
    font-weight: bolder;
    word-spacing: 0.3rem;
    font-size: 24px;


}
.header-line2{
    padding: 0.2rem 1rem 0.5rem 1rem;
    font-weight: bolder;
    font-size: 65%;
}
